
// .babelrc
{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "6.10",
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": ["promise", "@babel/plugin-transform-classes"]
}